<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Judy{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.0/dist/echarts.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">Judy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Results
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="/">Runs</a></li>
                              <li><a class="dropdown-item" href="{{url_for('raw_results')}}">Raw Results</a></li>
                            </ul>
                          </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('models')}}">Models</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('scenarios')}}">Scenarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('datasets')}}">Datasets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('tasks')}}">Tasks</a>
                        </li>
                        <li class="nav-item">
                            
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <body>          
        <div id="content" class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
    <footer>
        <!-- Common footer content goes here -->
    </footer>
</body>
</html>
