{% extends "base.html" %}
{% block title %}Runs | Judy{% endblock %}

{% block content %}
<div class="page-title text-center my-3">
  <h1>Evaluation Runs</h1>
  <p>A list of all evaluations you have run using judy.</p>
</div>
<div class="row text-center">
  <table id="runs-table" class="table">
    <thead>
      <tr>
        <th scope="col">Run Name</th>
        <th scope="col">Models Used</th>
        <th scope="col">Scenarios Used</th>
        <th scope="col">Tasks Used</th>
        <th scope="col">Datasets Used</th>
        <th scope="col">Number of Evaluations</th>
        <th scope="col">Judge</th>
        <th scope="col">Timestamp</th>
      </tr>
    </thead>
    <tbody>

        {% for run_name, run_data in context['data'].items() %}
        <tr>
            <td><a href="{{url_for('run_page', run_name=run_name)}}">{{run_name}}</a></td>
            <td>{{run_data['models_used'] | length}}</td>
            <td>{{run_data['scenarios_used'] | length}}</td>
            <td>{{run_data['tasks_used'] | length}}</td>
            <td>{{run_data['datasets_used'] | length}}</td>
            <td>{{run_data['config']['run'].num_evals}}</td>
            <td>{{run_data['config']['run'].judge.value}}</td>
            <td>{{run_data['metadata']['timestamp'] | timestamp}}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td><a href="{{url_for('run_page', run_name='all')}}">{{context['combined']['name']}}</a></td>
        <td>{{context['combined']['models']}}</td>
        <td>{{context['combined']['scenarios']}}</td>
        <td>{{context['combined']['tasks']}}</td>
        <td>{{context['combined']['datasets']}}</td>
        <td>{{context['combined']['total_eval_num']}}</td>
        <td></td>
        <td></td>
    </tr>
    </tfoot>
  </table>
</div>
{% endblock %}