{% extends "base.html" %}
{% block title %}Runs | Judy{% endblock %}

{% block content %}
<div class="px-4 py-3 my-3 text-center">
  <h1 class="display-5 fw-bold">Judy</h1>
</div>
<div class="row text-center mb-3">
  <p>
    Judy is a python library and framework to evaluate the text-generation capabilities of Large Language Models (LLM) using a Judge LLM.
  </p>
  <p>
    Judy allows users to use a competent Judge LLM (such as GPT-4) to evaluate other LLMs using different options for the following dimensions:
  </p>
  <ul class="no-bullets">
    <li><strong>Dataset: </strong>A source dataset to generate prompts to evaluate models against.</li>
    <li><strong>Task: </strong>A task to evaluate models on. Tasks for judge evaluations have been carefully designed by researchers to assess certain aspects of LLMs.</li>
    <li><strong>Metric: </strong>The metric(s) to use when evaluating the responses from a task. For example - accuracy, level of detail etc.</li>
  </ul>
</div>
<div class="row text-center">
  <label for="runs-table"><h3>Evaluation Runs</h3></label>
  <table id="runs-table" class="table">
    <thead>
      <tr>
        <th scope="col">Run Name</th>
        <th scope="col">Models Used</th>
        <th scope="col">Scenarios Used</th>
        <th scope="col">Tasks Used</th>
        <th scope="col">Datasets Used</th>
        <th scope="col">Number of Evaluations</th>
        <th scope="col">Judge</th>
        <th scope="col">Timestamp</th>
      </tr>
    </thead>
    <tbody>

        {% for run_name, run_data in context['data'].items() %}
        <tr>
            <td><a href="{{url_for('run_page', run_name=run_name)}}">{{run_name}}</a></td>
            <td>{{run_data['models_used'] | length}}</td>
            <td>{{run_data['scenarios_used'] | length}}</td>
            <td>{{run_data['tasks_used'] | length}}</td>
            <td>{{run_data['datasets_used'] | length}}</td>
            <td>{{run_data['config']['run'].num_evals}}</td>
            <td>{{run_data['config']['run'].judge.value}}</td>
            <td>{{run_data['metadata']['timestamp'] | timestamp}}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td><a href="{{url_for('run_page', run_name='all')}}">{{context['combined']['name']}}</a></td>
        <td>{{context['combined']['models']}}</td>
        <td>{{context['combined']['scenarios']}}</td>
        <td>{{context['combined']['tasks']}}</td>
        <td>{{context['combined']['datasets']}}</td>
        <td>{{context['combined']['total_eval_num']}}</td>
        <td></td>
        <td></td>
    </tr>
    </tfoot>
  </table>
</div>
{% endblock %}