{% extends "base.html" %}
{% block title %}Runs | Judy{% endblock %}

{% block content %}

<style>
    /* Additional styling for the scenario select */
    .styled-select {
        display: inline-block;
        position: relative;
    }

    .styled-select select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        cursor: pointer;
        margin-right:20px;
    }
</style>


<div class="page-title text-center my-3">
  <h1>Evaluation Runs</h1>
  <p>A list of all evaluations you have run using judy.</p>
</div>
<div class="row text-center">
  <table id="runs-table" class="table">
    <thead>
      <tr>
        <th scope="col">Run Name</th>
        <th scope="col">Models Used</th>
        <th scope="col">Scenarios Used</th>
        <th scope="col">Tasks Used</th>
        <th scope="col">Datasets Used</th>
        <th scope="col">Number of Evaluations</th>
        <th scope="col">Judge</th>
        <th scope="col">Timestamp</th>
      </tr>
    </thead>
    <tbody>

        {% for run_name, run_data in context['data'].items() %}
        <tr>
            <td><a href="{{url_for('judy.run_page', run_name=run_name)}}">{{run_name}}</a></td>
            <td>{{run_data['models_used'] | length}}</td>
            <td>{{run_data['scenarios_used'] | length}}</td>
            <td>{{run_data['tasks_used'] | length}}</td>
            <td>{{run_data['datasets_used'] | length}}</td>
            <td>{{run_data['total_evaluations'] }}</td>
            <td>{{run_data['config']['run'].judge.value}}</td>
            <td>{{run_data['metadata']['timestamp'] | timestamp}}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td><a href="{{url_for('judy.run_page', run_name='all')}}">{{context['combined']['name']}}</a></td>
        <td>{{context['combined']['models']}}</td>
        <td>{{context['combined']['scenarios']}}</td>
        <td>{{context['combined']['tasks']}}</td>
        <td>{{context['combined']['datasets']}}</td>
        <td>{{context['combined']['total_eval_num']}}</td>
        <td></td>
        <td></td>
    </tr>
    </tfoot>
  </table>
  <div class="container mt-5">
    <div class="row pb-3">
        <div class="col-md-6">
            <label for="scenarioDropdown" class="form-label">Select Scenario:</label>
            <div class="styled-select">
                <select id="scenarioDropdown" class="form-select">
                {% for scenario_id, scenario in context["scenarios"].items() %}
                    <option value="{{scenario_id}}">{{scenario.name}}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <label for="chartTypeDropdown" class="form-label">Select Chart:</label>
            <div class="styled-select">
                <select id="chartTypeDropdown" class="form-select">
                    <option value="bar">Bar</option>
                    <option value="radar">Radar</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <div id="chart" style="height: 400px;"></div>
        </div>
    </div>
</div>
<script>
var metricsData = JSON.parse(`{{ context['dataframe'] | safe }}`);
var uniqueScenarios = Array.from(new Set(metricsData.map(item => item.scenario)));
var scenarioDropdown = document.getElementById('scenarioDropdown');

// Add event listener to scenario dropdown
scenarioDropdown.addEventListener('change', function() {
    selectedScenario = scenarioDropdown.value;
    updateChart(selectedScenario, currentChartType);
});


var chartTypeDropdown = document.getElementById('chartTypeDropdown')
chartTypeDropdown.addEventListener('change', function() {
    currentChartType = chartTypeDropdown.value;
    updateChart(selectedScenario, currentChartType)
});

// Initial values
var selectedScenario = uniqueScenarios[0];
var currentChartType = 'bar'; // Initial chart type



function updateChart(selectedScenario, chartType) {
    // Filter data based on the selected scenario
    var filteredData = metricsData.filter(item => item.scenario === selectedScenario);
 
    var allMetrics = Array.from(new Set(filteredData.map(item => item.metric)));
    var uniqueModels = Array.from(new Set(filteredData.map(item => item.model)));
    var averageScores = {};
    uniqueModels.forEach(model => {
        averageScores[model] = {};
        allMetrics.forEach(metric => {
            var scores = filteredData
                .filter(item => item.model === model && item.metric === metric)
                .map(item => item.score);

            var averageScore = scores.length > 0 ? scores.reduce((sum, score) => sum + score, 0) / scores.length : null;
            averageScores[model][metric] = averageScore.toFixed(2);
        });
    });


    var option;
    if(currentChartType === "bar") {
        option = {
            title: {
                text: `Model Metrics Bar Chart`,
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow',
                },
            },
            legend: {
                data: uniqueModels,
            },
            xAxis: {
                type: 'category',
                data: allMetrics, // Use the complete list of metrics
                axisLabel: {
                    interval: 0,
                    rotate: 45,
                },
            },
            yAxis: {
                type: 'value',
                name: 'Score',
                max: 10
            },
            series: uniqueModels.map(model => ({
                name: model,
                type: 'bar',
                data: allMetrics.map(metric => averageScores[model][metric]),
            })),
        };
    } else if (chartType === "radar") {
        option = {
            title: {
                text: 'Model Metrics Radar Chart',
            },
            tooltip: {},
            legend: {
                data: uniqueModels,
            },
            radar: {
                indicator: allMetrics.map(metric => ({ name: metric, max: 10 })),
            },
            series: uniqueModels.map(model => ({
                name: model,
                type: 'radar',
                data: [{
                    value: allMetrics.map(metric => averageScores[model][metric]),
                    name: model,
                }],
            })),
        };
    }

    var chart = echarts.init(document.getElementById('chart'));
    chart.setOption(option, true);

  }
  updateChart(selectedScenario, currentChartType);

</script>
{% endblock %}